<%- include('head'); %>
<body>
    <%- include('navbar'); %>
    <main>

        <h1>Register Your account</h1>
        <form action="">
            
            <div>
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="text" name="password" id="password">
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </main>
</body>