<%- include('head'); %>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/task">Task</a></li>
                <li><a href="/task/getTask">Get-Task</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>

            </ul>
        </nav>
    </header>
</body>